
<style>
.card {
    
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card.highlight-card {
   
    color: black;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 20%;
    position: relative;
  }  

</style>


<div class="card highlight-card card-small">

  <span style="font-size: 25px;">Dashboard</span> 

</div>  

<div><hr></div>

<div>
    <div style="float:left">
      <div style="font-size: 19px;margin-left: 41%;"><b>Siemens</b></div>
      <div style="display: block; height: 250px; width: 500px;">
      <canvas baseChart
              [data]="pieChartDataSiemens"
              [labels]="pieChartLabels"
              [colors]="pieChartColor"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event, 'Siemens')"></canvas>
      </div>
    </div>  
  
    <div style="float:right">
      <div style="font-size: 19px;margin-left: 41%;"><b>ABB</b></div>
    <div style="display: block; height: 250px; width: 500px;">    
      <canvas baseChart
              [data]="pieChartDataAbb"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColor"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event, 'ABB')"></canvas>
    </div> 
  </div>
    
  
  <div style="float:left; padding-top: 5%;">
    <div style="font-size: 19px;margin-left: 41%;"><b>Rockwell</b></div>
    <div style="display: block; height: 250px; width: 500px;">
      
      <canvas baseChart
              [data]="pieChartDataRockwell"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColor"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event, 'Rockwell')"></canvas>
    </div> 
  </div>
  
  <div style="float:right; padding-top: 5%;">
    <div style="font-size: 19px;margin-left: 41%;"><b>Schneider</b></div>
    <div style="display: block; height: 250px; width: 500px;">
      
      <canvas baseChart
              [data]="pieChartDataSchinder"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColor"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event, 'Schneider')"></canvas>
    </div> 
  </div>
  
  
  </div>  